<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pondu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D01DB661BDD639100B30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D01DB7A1BDD639100B30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D01DB851BDD639100B30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
